---
---

.header{
    text-transform: uppercase;
    background-color: #429DC9;
    color: #FFFFFF;
    font-size:30px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.header h2{
    width:1150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
}
p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.bannerPic{
    width: 100%;
}
.body-content{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width:800px; 
    margin-bottom: 50px;
}

.body-content h3{
    padding: 30px;
    margin-left: -100px;
    padding-left: 100px;
    max-width: 640px;
    background-color: #429DC9;
    color: #FFFFFF;
    
}
.CTA-content{
    margin-top: 80px;
}
h4{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
}
h5{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 40px;
}