---
---

.logo {
    margin-bottom: 35px;
    text-align: center
}
.logo img {
    max-width: 200px
}
body {
    padding: 100px 0px
}
form {
    color: #222222
}
form textarea.form-control {
    height: 150px;
    resize: vertical
}
footer {
    background: none;
    color: #666666;
    margin-top: 35px
}