---
---

$cyan: #429DC9;
$magenta: #EE519D;
$yellow: #F7CA18;

@import
    "base/_mixins.scss",
    "base/_normalize.scss",
    "base/_global.scss",
    "_header.scss",
    "_footer.scss",
    "_index.scss",
    "_contact.scss",
    "_about.scss"
;