<header class="navbar">
    <span class="bar"></span>
    <div class="container">
        <a class="logo" href="/">
            {% if page.page == "home" %}
                <img src="/img/logo.png">
            {% else %}
                <img src="/img/logo_black.png">
            {% endif %}
        </a>
        <ul class="nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/about/fair">ABOUT <i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="/about/fair">THE FAIR</a></li>
                    <li><a href="/about/team">THE TEAM</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/students/company-bios">STUDENTS <i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="/students/company-bios">COMPANY BIOS</a></li>
                    <li><a href="/students/rsvp">RSVP</a></li>
                    <li><a href="/students/resources">RESOURCES</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/employers/benefits">EMPLOYERS <i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="/employers/benefits">BENEFITS</a></li>
                    <li><a href="/employers/get-involved">GET INVOLVED</a></li>
                    <li><a href="/employers/prepare">PREPARE</a></li>
                </ul>
            </li>
            <li><a href="/calendar">CALENDAR</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul>
    </div>
</header>