<header class="navbar">
    <span class="bar"></span>
    <div class="container">
        <a class="logo" href="/">
            <img src="img/logo.png">
        </a>
        <ul class="nav">
            <li><a href="#">ABOUT <i class="fa fa-caret-down"></i></a></li>
            <li><a href="#">STUDENTS <i class="fa fa-caret-down"></i></a></li>
            <li><a href="#">EMPLOYERS <i class="fa fa-caret-down"></i></a></li>
            <li><a href="#">CALENDAR</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </div>
</header>