#contact {
    background: #1D536C;
    color: #ffffff;
    padding: 150px 0px;

    .contact-form {
        background: #e1e1e1;
        color: #222222;
        padding: 35px;

        textarea {
            height: 150px;
            resize: vertical;
        }
    }
}