#contact {
    background: #1D536C;
    color: #ffffff;
    padding: 75px 0px;

    h1 {
        margin-top: 0;
    }

    .contact-form {
        background: #e1e1e1;
        color: #222222;
        padding: 35px;

        textarea {
            height: 150px;
            resize: vertical;
        }
    }
}