footer {
    background: #F5F5F5;
    font-size: 13px;
    padding: 30px 0px;
    text-align: center;

    .footer-logo {
        margin-bottom: 15px;
        max-width: 250px;
    }

    p {
        margin: 0;
    }
}