.logo {
    margin-bottom: 35px;
    text-align: center;

    img {
        max-width: 200px;
    }
}

body {
    padding: 100px 0px;
}

footer {
    background: none;
    color: #666666;
    margin-top: 35px;
}